.searchWrapper {
  display: flex;
  width: 250px;
  /* padding: 0 20px; */
  align-items: center;
  justify-content: space-between;
}

.searchLabel {
  color: white;
  font-size: 20px;
  margin-right: 10px;
}

.searchInput {
  padding: 8px;
  outline: none;
  font-size: 16px;
}
