.App {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightgray;
  width: 100wv;
  height: 100vh;
}

section {
  width: 600px;
  height: 85vh;
  background-color: white;
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.mainTitle {
  width: 100%;
  font-size: 30px;
  text-align: left;
  margin: 20px 0;
  padding: 0;
}

h3 {
  text-align: left;
  width: 100%;
  padding: 0 15px;
}
